<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.egi_fcb.applicationmtq">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.campur.Activity_Splash_Screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--memasukan elemen Activity dengan atribut configChanges dan theme-->
        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".activity.campur.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".fragment.Fragment_Hijaiyah"/>

        <activity android:name=".activity.doa.Activity_Doa_Ketika_Bangun_Tidur">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.campur.MainActivity" />
        </activity>

        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Fathah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.campur.MainActivity" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Kasrah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Dammah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Fathah_Jelas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Kasrah_Jelas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Dammah_Jelas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Hijaiyah_Jelas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Tidur">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Kedua_Orang_Tua">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Belajar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Setelah_Belajar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Masuk_Masjid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Keluar_Masjid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Masuk_Kamar_Mandi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Keluar_Kamar_Mandi">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Makan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Doa_Akan_Setelah_Makan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.campur.Activity_Asmaul_Husna">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.doa.Activity_Menu_Utama_Doa" />
        <activity android:name=".activity.hijaiyah.Activity_Menu_Utama_Harakat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.tuntunansholat.Activity_Tuntunan_Sholat" />
        <activity
            android:name=".activity.campur.Activity_Shalawat_Nabi"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.team.Activity_Team"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.campur.Activity_About"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.tadjwid.Activity_Tadjwid_Iqlab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.campur.Activity_Kuis">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".fragment.Fragment_Doa"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".fragment.Fragment_Doa_Akan_Belajar" />
        <activity android:name=".fragment.Fragment_Doa_Keluar_WC" />
        <activity android:name=".activity.sholat.Activity_Perintah_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Pendek">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_An_Naas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Falak">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Ikhlas">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Lahab">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_An_Nasr">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Kaafirun">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Kautsar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Mauun">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Quraisy">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.suratpendek.Activity_Surat_Al_Humazah">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.wudhu.Activity_Berwudhu"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Pilihan_Sholat_Fardlu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Sholat_Isya"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Sholat_Dzuhur"
            android:theme="@style/MyMaterialTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Sholat_Ashar"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Sholat_Maghrib"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Sholat_Shubuh"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.wudhu.Activity_Syarat_Wudhu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.wudhu.Activity_Utama_Wudhu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.wudhu.Activity_Rukun_Wudhu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.wudhu.Activity_Sunnat_Wudhu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.wudhu.Activity_Membatalkan_Wudhu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Utama_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Jumlah_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Syarat_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Rukun_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Membatalkan_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".Package_Text_To_Speech.Activity_TTS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.sholat.Activity_Tata_Cara_Sholat">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Niat_Sholat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity
            android:name=".activity.sholat.Activity_Gerakan_Sholat"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Menu_Utama_Tanwin">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.tanwin.Activity_Tanwin_Fatkhatain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.tanwin.Activity_Tanwin_Kasrohtain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.tanwin.Activity_Tanwin_Dummatain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.campur.Activity_Paint">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.tadjwid.Activity_Utama_Tajwid">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.hijaiyah.Activity_Utama_Mengeja">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.campur.Activity_Mengeja_1">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Package_Hijaiyah_Perkenalan.Activity_Huruf_Hijaiyah" />
        </activity>
        <activity android:name=".activity.campur.Activity_Alquran"></activity>
    </application>

</manifest>